# Site Config
SITE_NAME="Site Title"
SITE_DESCRIPTION="Site description placeholder"
SITE_SOURCE_LINK="https://github.com/user/project"
HTTPS=false
PORT=80
SERVER_URL=http://localhost
# Payload vars
PAYLOAD_SECRET=secret-key
PAYLOAD_DRAFT_SECRET=secret-draft-key
REVALIDATION_KEY=secret-revalidation-key
# Next.js vars
NEXT_IS_LIVE=
NEXT_PRIVATE_DRAFT_SECRET=secret-draft-key
NEXT_PRIVATE_REVALIDATION_KEY=secret-revalidation-key
# Postgres
POSTGRES_DOCKER_DOMAIN=personal-site-postgresql
PAYLOAD_DB=personal-site
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
# PGAdmin
PGADMIN_DEFAULT_EMAIL=user@email.com
PGADMIN_DEFAULT_PASSWORD=password